.App {
    margin: 1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 .header {
    display: flex;
    flex-flow: row;
    width:100%;
}
.details-column1{
    padding: 0.1em;
    margin-left: 0.5em;
    float: left;
    width: 30%;
}
.details-div{
    width: 100%;
   }

.details-column2{
    padding: 0.1em;
    color: #1999c4;
    text-align: left;
    float: left;
    width: 60%;
    word-wrap: break-word;
}
.details-span{
    width: 30%;
    text-align: center;
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 1.5em;
    border: 1px solid #888;
    border-radius: 1em;
    width: 30%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:12pt;
    font-weight: 900;
    color:  #666;
  
}
.modal-content select{
    width: 90%;
    color:#737373;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:12pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 10px;
    padding: 3px;
}
.modal-content textarea{
    width: 90%;
    color:#737373;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:12pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-top: 0.5em;
    resize: none;
}
.modal-content input[type=submit]{
    border: none;
    color: white;
    background-color: #ff554d;
    padding: 1em;
    font-size: 11pt;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0.5em;
    width: 90%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.details-info{
    color:#ff554d;
    font-size:11pt;
    font-weight: 900;
    margin-bottom: 0.5em;
}
.modal-content input[type=text]{
    color:#737373;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:12pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 0.5em;
    margin-bottom: 10px;
    padding: 0.5em;
    width: 95%
}
.modal-content label{
    margin-left: 0.5em;
    margin-right: 2em;
}
.modal-content h3{
    margin-left: 0.5em;
    color: #1999c4;
    font-weight: 900;
}

.request-modal{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 4em; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.view-div table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 1em;
}
.view-div a{
    padding: 3px;
    background-color: #ff3d33; 
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:12pt;
    font-weight: 900;
    color: white;
}

.view-div button {
    border: none;
    color: white;
    background-color: #ff554d;
    padding: 6px;
    font-size: 11pt;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.view-div td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.view-div td{
    font-size:12pt;
    font-weight: 500;
    color:  #404040;
}
.view-div th:nth-child(odd){
   background-color: #ffb6b3;
   color: black;
}
.view-div th:nth-child(even){
    background-color: #84ddfb;
    color: black;  
 }

.view-div tr:nth-child(even) {
    background-color: #dddddd;
}
.view-div{
    width: 100%;
    height: 550px;
    overflow-y: auto;
}

.request-search{
    background-image: url('https://res.cloudinary.com/dgwphdxui/image/upload/v1538569660/Mtracker/Images/search-icon1.png');
    background-position: 0.3em 0.3em;
    background-repeat: no-repeat;
    color:#737373;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:12pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 1em;
    padding: 0.55em 2.5em 0.55em;
    width:100%;
  }
  .request-button{
    border: none;
    color: white;
    background-color: #ff554d;
    margin-top: 1em;
    margin-right: 2em;
    padding: 0.6em;
    font-size: 12pt;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  .request-button-align{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.search-div{
    width:50%;
  }
.text-info{  
    font-size:10pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    width: 50%;
}
.text-margin1{  
    font-size: 14pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: flex-start;
}
.request-top-row{
    background-color:  #22c2f7;
    display: flex;
    flex-flow: row;
    align-items: baseline;
    font-weight: 900;
    border-radius: 5px;
  }
  .request-top-row > div {
    text-align: left;
    color: white;
    margin-bottom: 0.1em;
    margin-left:8px;
    padding-top:0.2em;
    padding-bottom:0.1em;
  
  }
.signup-body{
    text-align: center;
    background-color: #22c2f7;
    padding-top: 5em; 
    padding-bottom: 7em;
}
.signin-body{
    text-align: center;
    background-color: #22c2f7;
    padding-top: 10em; 
    padding-bottom: 14em;
}
.form-flex{
    display: flex;
    background: white;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    margin-right:30%;
    margin-left:30%;
    border-radius: 25px;
    color:#737373;
    padding: 2.5em;
}
.form-header {
    margin-bottom: -0.4em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:  #666;
    font-size: 2em;
}
.auth-select-class{
    width: 80%;
    color:#737373;
    border-radius: 25px;
    display: inline-block;
    border: 1px solid #cccccc;
    margin-top: 0.5em;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:11pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.auth-info{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:10pt;
    font-weight: 900;
    color:  #f11207;
}
.auth-input-class{
    width: 80%;
    padding: 1em;
    display: inline-block;
    border: 1px solid #cccccc;
    color:#737373;
    border-radius: 4px;
    margin-top: 0.5em;
    box-sizing: border-box;
    font-size:12pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form-flex h3{
    margin-bottom: 1.5em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:12pt;
    font-weight: 900;
    color:  #666;
}
.format{
    font-size: 80%;
    color: rgb(133, 133, 133);
}
.auth-submit-btn{
    padding: 1em;
    border-radius: 4px;
    display: inline-block;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 80%;
    background-color: #ff554d;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    font-size:11pt;
}
.logo {
  margin-top: 0.5em;
  display: flex;
  justify-content: flex-start;
  width:40%;
}
.logo h6{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:16pt;
  font-weight: 200;
  margin-top: 0.8em;
  color:  #b30900;
}
.logo img{
  margin-left: 20px;
  margin-right:5px;
}
.menubar {
  display: flex;
  justify-content: flex-end; 
  background-color:#ffffff;
  width: 60%;
}
.menubar a {
  color:  #666;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:16pt;
  font-weight: 900;
}
.menubar a:hover {
  color:#e60b00;
}

.landing-body {
  padding-top: 10%;
  padding-bottom: 12%;
  text-align: center;
  background-color: #22c2f7;   
}
.landing-header {
  color:white;
  font-size:38pt; 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 0.2em;
}
.landing-text {
  color:white;
  font-size:20pt;
  font-weight: 900;
  margin-top: -0.5em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.landing-btn {
  border: none;
  color: white;
  background-color: #ff554d;
  padding: 14px 28px;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  cursor: pointer;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.landing-btn:hover {
  background-color: #ff3a30ee;
}
.footer{
  text-align: center;
  color:  #333333;
  font-size:12pt;
  font-weight: 500;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media only screen and (max-width: 500px){
    .logo {
        display: none;
    }
    .menubar {
        width: 100%;
    }
    .menubar Link {
        padding: 1em 1em;
        font-size: 12pt;
        font-weight: 900;
    }
    .landing-header {
        font-size:25pt; 
    }
    .landing-text {
        font-size:15pt;
    }
    .landing-btn {
        font-size: 20px;
        
    }
    .landing-body {
        padding: 45% 1% 45%;
        text-align: center;
        background-color: #22c2f7;   
    }
    .form-flex{
        margin-right:0%;
        margin-left:0%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .signup-body{
        padding: 35% 5% 40%;
    }

    .form-flex h1{
        font-size: 1.7em;
    }
    .form-flex h3{
        font-size: 0.9em;
    }
    .request-form-font{
        padding: 1em;
    }
    .request-form-font select{
        width: 100%;
        margin-left: 0.25em;
        margin-right: 0.25em;
    }
    .request-form-font input[type=date]{
        width: 100%;
        margin-left: 0.25em;
        margin-right: 0.25em;
    }
    .request-form-font input[type=text]{
        width: 100%;
        margin-left: 0.25em;
        margin-right: 0.25em;
    }
    .request-form-font input[type=submit]{
        width: 100%;
        margin-left: 0.25em;
        margin-right: 0.25em;
    }
    .request-form-font div{
        width: 80%;
        margin-left: 0.25em; 
        margin-bottom: 0.5em;  
    }
    .text-margin1{  
        font-size: 11pt;
    }
    .request-top-row{
        display: block;
      }
      .set-margin{
        margin-top: 0.5em;
    }
    .modal-content {
        width: 80%;
    }
    .modal-content {
        font-size:8pt;
    }
    .modal-content select{
        font-size:9pt;
    }
    .modal-content textarea{
        font-size:9pt;
    }
    
    .modal-content input[type=text]{
        font-size:9pt;
    }
    .column-display{
        display: none;
    }
    .details-btn {
        padding: 17px 14px;
        font-size: 12px;
        margin-left:4px;
    }
   
}
@media only screen and (max-width: 1024px) and (min-width: 501px) { 
    .landing-body {
        padding-top: 40%;
        padding-bottom: 40%;
        text-align: center;
        background-color: #22c2f7;   
    }
    .signup-body{
        padding: 20% 5% 50%;
    }
    .form-flex{
        margin-right:10%;
        margin-left:10%;
        padding-top: 30px;
        padding-bottom: 35px;
    }
    .request-form-font select{
        width: 60%;
        margin-left: 1em;;
    }
    .request-form-font input[type=date]{
        width: 60%;
        margin-left: 1em;
    }
    .column-display{
        display: none;
    }
    .request-form-font input[type=text]{
        width: 60%;
        margin-left: 1em;
    }
    .request-form-font input[type=submit]{
        width: 60%;
        margin-left: 1em;
        margin-right: 0.25em;
    }
    .request-form-font div{
        width: 100%;
        margin-left: 1em;
        margin-bottom: 0.5em;   
    }
    .text-margin1{  
        font-size: 10pt;
    }
    .request-top-row{
        display: block;
      }
      .modal-content {
        width: 50%;
    }
    .modal-content {
        font-size:9pt;
    }
    .modal-content select{
        font-size:11pt;
    }
    .modal-content textarea{
        font-size:11pt;
    }
    
    .modal-content input[type=text]{
        font-size:11pt;
    }
}
@media only screen and (max-width: 2000px) and (min-width: 1024px) {
    .modal-content {
        width: 40%;
    }
}